body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: lightcyan;
    color: darkgreen;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
}

.container {
    background-color: rgba(255, 255, 255, .3);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
    border-radius: 10px;
    width: 85%;
    padding: 20px;
    max-width: 400px;
    text-align: center;
    font-size: 20px;
}

#btn {
    width: 150px;
    height: 50px;
    background-color: rgb(105, 245, 105);
    font-size: 20px;
    border: 0;
    color: rgb(31, 58, 39);
    cursor: pointer;
}

#btn:hover {
    font-weight: 700;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);

}

#btn:active {
    width: 155px;
}

.hidden {
    visibility: hidden;
}